@charset "utf -8";

/* 폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

/* css 파일 연결 */
@import url("header.css");
@import url("visual.css");
@import url("business.css");
@import url("news.css");
@import url("cs.css");
@import url("about.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}

/* 바디 폰트 적용 */
body{
   font-family: "Noto Sans", sans-serif;
   
}

/* 공통 영역 */
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(255, 217, 0);
}

.wrap{
  position: relative;
}

